.conversationName {
  display: block;

  font-weight: bold;
  font-size: 16px;
}

.groupAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.conversationLastMessage {
  color: rgb(168, 168, 168);
}

.defaultGroupAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgb(141, 141, 141);
}
