form {
  position: relative;
  width: 800px;
}

.nameFieldRow {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 8px 0;
  gap: 8px;
}

.loginFormPassword {
  margin: 8px 0;
}

.button {
  margin: 8px 0;

  text-transform: capitalize;
}

.footerText {
  margin-top: 8px;
  text-align: center;
  span {
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #291bfc;
  }
}

.message {
  margin: 8px 0;
}

.conversationTypeForm {
  display: flex;
  gap: 20px;

  padding-bottom: 10px;
}

.radio {
  display: none;
  &:hover + .radioLabel::before {
    background-color: #000;
  }

  &:checked + .radioLabel::before {
    content: "\2714";
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #2b09ff;
  }
}

.radioLabel {
  display: flex;
  align-items: center;

  cursor: pointer;

  &::before {
    content: "";

    margin-right: 4px;
    width: 20px;
    height: 20px;

    border: 2px solid #2b09ff;
    border-radius: 3px;
  }
}

.passwordContainer {
  display: flex;
  align-items: center;
}
